<img src="{{leadImage}}" alt="" />
<h4>
    {{title}}
    <select class="searchahead-roomtypes">
        {{#each numberOfRoomsArray}}
        <option value="{{item}}">{{item}}</option>
        {{/each}}
    </select>
</h4>
<p>{{abstract}}</p>
